@page
@model bodyshedule.Pages.Events.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="col-lg-8 mx-auto text-center p-3">
        <h1>Удаление тренировки</h1>
        <h4>Вы действительно хотите сделать это?</h4>
        <hr />
    </div>
</div>
<div class="container">
    <div class="col-lg-8 mx-auto rounded border border-5 p-3">
        <dl class="row text-center">
            <dt class="col-sm-12">
                <label class="control-label">Название</label>
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Event.Name)
            </dd>
            <dt class="col-sm-12">
                <label class="control-label">Описание</label>
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Event.Description)
            </dd>
            <dt class="col-sm-12">
                <label class="control-label">Начало</label>
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Event.StartTime.LocalDateTime)
            </dd>
            <dt class="col-sm-12">
                <label class="control-label">Завершение</label>
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Event.EndTime.LocalDateTime)
            </dd>
            @if (Model.Event.Items?.Any() ?? false)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Упражнения
                            </th>
                            <th>
                                Подходы
                            </th>
                            <th>
                                Повторения
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Event.Items)
                        {
                            <tr>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.QuantityApproaches
                                </td>
                                <td>
                                    @item.QuantityRepetions
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </dl>
        <div class="text-center">
            <div class="d-inline-flex">
                <form method="post">
                    <input type="hidden" asp-for="Event.Id" />
                    <input type="submit" value="Удалить" class="btn btn-danger"/>
                </form>
                <button onclick="window.history.back()" class="btn mx-2 btn-primary"><i class="bi bi-reply"></i>Назад</button>
            </div>
        </div>
    </div>
</div>
