@page
@model bodyshedule.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="col-lg-8 mx-auto text-center rounded border p-3">
        <h1>О тренировке</h1>
    </div>
</div>

<div class="container">
    <div class="col-lg-8 mx-auto rounded border p-3">
        <dl class="row text-center">
            <dt class="col-sm-12">
                <label class="control-label">Название</label>
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Event.Name)
            </dd>
            <dt class="col-sm-12">
                <label class="control-label">Описание</label>
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Event.Description)
            </dd>
            <dt class="col-sm-12">
                <label class="control-label">Начало</label>
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Event.StartTime)
            </dd>
            <dt class="col-sm-12">
                <label class="control-label">Завершение</label>
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Event.EndTime)
            </dd>
            @if(Model.Event.Items?.Any() ?? false)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Упражнения
                            </th>
                            <th>
                                Подходы
                            </th>
                            <th>
                                Повторения
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model.Event.Items)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.QuantityApproaches
                        </td>
                        <td>
                            @item.QuantityRepetions
                        </td>
                    </tr>
                }
                    </tbody>
                </table>
            }
        </dl>
        <div class="text-center">
            <a asp-page="./Edit" asp-route-id="@Model.Event?.Id" class="btn mx-2 btn-success"><i class="bi bi-pencil"></i>Редактировать</a>
            <a asp-page="./Delete" asp-route-id="@Model.Event?.Id" class="btn mx-2 btn-danger"><i class="bi bi-trash"></i>Удалить</a>
            <button onclick="window.history.back()" class="btn mx-2 btn-primary"><i class="bi bi-reply"></i>Назад</button>
        </div>
    </div>
</div>
