@page
@model bodyshedule.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EndTime)
        </dd>
        @if(Model.Event.Items?.Any() ?? false)
        {
            @foreach (var item in Model.Event.Items)
            {
                <dt class="col-sm-2">
                    Title
                </dt>
                <dd class="col-sm-10">
                    @item.Title
                </dd>
                <dt class="col-sm-2">
                    QuantityApproaches
                </dt>
                <dd class="col-sm-10">
                    @item.QuantityApproaches
                </dd>
                <dt class="col-sm-2">
                    QuantityRepetions
                </dt>
                <dd class="col-sm-10">
                    @item.QuantityRepetions
                </dd>
            }

        }
        else 
        {
            <dd>null exercise</dd>
        }
        @*     @for (int i = 0; i < Model.Event.Items.Count; i++)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Items)
            </dd>
        } *@
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Event?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
