@page
@model bodyshedule.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <h1 class="text-center">Мои тренировки</h1>
    <div class="d-inline-flex">
        <a asp-page="Create" class="btn btn-primary mx-2">Добавить</a>

        <form method="get" class="d-inline-flex mx-auto">
            @if (Model.IsFilterActive)
            {
                <input class="form-control bg-transparent text-white" asp-for="FilterStartDateTime" asp-format="{0:yyyy-MM-ddTHH:mm}" name="startDateTime" />
                <input class="form-control mx-2 bg-transparent text-white" asp-for="FilterEndDateTime" asp-format="{0:yyyy-MM-ddTHH:mm}" name="endDateTime" />
            }
            else
            {
                <input class="form-control bg-transparent text-white" asp-for="FilterStartDateTime" asp-format="{0:yyyy-MM-dd}" name="startDateTime" />
                <input class="form-control mx-2 bg-transparent text-white" asp-for="FilterEndDateTime" asp-format="{0:yyyy-MM-dd}" name="endDateTime" />
            }
            <input hidden name="isFilterActive" value="true" />
            <button type="submit" class="btn btn-primary text-center">Применить</button>
        </form>
        <form method="get" class="d-inline-flex">
            <input hidden name="isFilterActive" value="false" />
            <button type="submit" class="btn btn-primary text-center mx-2">Сбросить</button>
        </form>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteAllEvents">
            Удалить все
        </button>

        <!-- Modal -->
        <div class="modal fade" id="deleteAllEvents" tabindex="-1" aria-labelledby="deleteAllEventsLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-dark" id="deleteAllEventsLabel">Удаление всех тренировок</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-dark">
                        Вы действительно хотите сделать это?
                    </div>
                    <div class="modal-footer">
                        <form asp-page-handler="DeleteAll" method="post">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
        <a asp-page="../Index" class="btn mx-2 btn-primary"><i class="bi bi-reply"></i>Назад</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Начало
                </th>
                <th>
                    Завершение
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Event) {
            <tr>
                <td class="limit-text">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="limit-text">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.StartTime.LocalDateTime)
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.EndTime.LocalDateTime)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a> |
                    <a asp-page="./Copy" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-copy"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (!Model.IsFilterActive)
            {
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item" onclick="ActiveXObject"> <a class="page-link" href="@Url.Page("Index", new { pageNumber = i, isFilterActive = false })">@i</a></li>
                }
            }
            else
            {
                @for (int i = 1; i <= Model.FilterTotalPage; i++)
                {
                    <li class="page-item" onclick="ActiveXObject"> <a class="page-link" href="@Url.Page("Index", new { pageNumber = i, startDateTime = Model.FilterStartDateTime, endDateTime = Model.FilterEndDateTime, isFilterActive = Model.IsFilterActive })">@i</a></li>
                }
            }
        </ul>
    </nav>
</div>
