@page
@model bodyshedule.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <h1 class="text-center">Мои тренировки</h1>
    <div class="d-inline-flex">
        <a asp-page="Create" class="btn btn-primary">Добавить</a>
        <a asp-page="../Index" class="btn mx-2 btn-primary"><i class="bi bi-reply"></i>Назад</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Начало
                </th>
                <th>
                    Завершение
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Event) {
            <tr>
                <td class="limit-text">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="limit-text">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime.LocalDateTime)
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.EndTime.LocalDateTime)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a> |
                    <a asp-page="./Copy" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-copy"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item" onclick="ActiveXObject"> <a class="page-link" href="@Url.Page("Index", new { pageNumber = i })">@i</a></li>
            }
        </ul>
    </nav>
</div>
